openapi: 3.0.1
info:
  title: Eiger API V3 Builds API
  description: REST API for the Markforged Eiger cloud 3D printing platform. The Eiger API is organized around resources (devices, builds, print jobs, parts, printed parts, users) each addressable at its own URI, accessed with standard HTTP methods. Responses are JSON. Authentication is HTTP Basic Auth using an Eiger Access Key (username) and Secret Key (password). Requests must use the fully qualified host https://www.eiger.io to avoid redirect/security issues. This document models the publicly documented Eiger API V3 surface; consult the official reference at https://www.eiger.io/developer/spec for request and response schemas, which are not fully reproduced here.
  termsOfService: https://markforged.com/terms
  contact:
    name: Markforged / Eiger Support
    url: https://support.markforged.com/portal/s/
  version: v3
servers:
- url: https://www.eiger.io/api/v3
security:
- basicAuth: []
tags:
- name: Builds
paths:
  /builds:
    get:
      operationId: listBuilds
      tags:
      - Builds
      summary: List all builds in the organization.
      responses:
        '200':
          description: A list of builds.
  /builds/{build_id}:
    get:
      operationId: getBuild
      tags:
      - Builds
      summary: Retrieve a specific build.
      parameters:
      - name: build_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Build details.
  /builds/approved:
    get:
      operationId: listApprovedBuilds
      tags:
      - Builds
      summary: List approved builds.
      responses:
        '200':
          description: A list of approved builds.
    put:
      operationId: updateApprovedBuilds
      tags:
      - Builds
      summary: Update the approved-builds list.
      responses:
        '200':
          description: Approved-builds list updated.
    delete:
      operationId: disableBuildApprovals
      tags:
      - Builds
      summary: Disable build approvals.
      responses:
        '200':
          description: Build approvals disabled.
  /backlog/{build_id}:
    post:
      operationId: sendBuildToBacklog
      tags:
      - Builds
      summary: Send a build to the backlog.
      parameters:
      - name: build_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Build sent to backlog.
  /job-requests/{build_id}:
    post:
      operationId: addJobRequest
      tags:
      - Builds
      summary: Send a build to the job-request queue.
      parameters:
      - name: build_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Build added to the job-request queue.
    delete:
      operationId: removeJobRequest
      tags:
      - Builds
      summary: Remove a build from the job-request queue.
      parameters:
      - name: build_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Build removed from the job-request queue.
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Auth using an Eiger Access Key as the username and Secret Key as the password, generated from the Eiger organization settings.
