openapi: 3.2.0
info:
  title: Eiger API V3 Printed Parts API
  description: REST API for the Markforged Eiger cloud 3D printing platform.
  termsOfService: https://markforged.com/terms
  contact:
    name: Markforged / Eiger Support
    url: https://support.markforged.com/portal/s/
  version: v3
servers:
- url: https://www.eiger.io/api/v3
security:
- basicAuth: []
tags:
- name: Printed Parts
paths:
  /printed_parts:
    get:
      operationId: listPrintedParts
      tags:
      - Printed Parts
      summary: List printed parts
      responses:
        '200':
          description: A list of printed parts.
  /printed_parts/{printed_part_id}:
    get:
      operationId: getPrintedPart
      tags:
      - Printed Parts
      summary: Get printed part details
      parameters:
      - name: printed_part_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Printed part details.
  /printed_parts/{printed_part_id}/scan_report:
    get:
      operationId: getPrintedPartScanReport
      tags:
      - Printed Parts
      summary: Get a printed part scan report
      parameters:
      - name: printed_part_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Printed part scan report.
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Auth using an Eiger Access Key as the username and Secret Key as the password, generated from the Eiger organization settings.
